body {
    background: #dfca13;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
  
.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    perspective: 800px;
}
    
.card {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}
  
.card:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
    
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-bottom: 20px;
}

.btn-15 {
  background: #c05910;
  border: none;
  z-index: 1;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ce9914;
  border-radius: 5px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #fff;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

.fade-out {
    -moz-animation: fade-out 0.3s both ease-in;
    -o-animation: fade-out 0.3s both ease-in;
    -webkit-animation: fade-out 0.3s both ease-in;
    animation: fade-out 0.3s both ease-in;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

  @keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
    to {
      opacity: 0;
      visibility: hidden;
      top: 20px;
    }
  }

  @-moz-keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
    to {
      opacity: 0;
      visibility: hidden;
      top: 20px;
    }
  }

  @-webkit-keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
    to {
      opacity: 0;
      visibility: hidden;
      top: 20px;
    }
  }

.container-top {
  margin: 0 auto;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container-title {
  text-align: center;
}

.container-title span {
  color: white;
  text-transform: uppercase;
  display: block;
}

.title {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  background: #dfca13;
  position: relative;
  animation: text 2s 1;
}

.timer {
  font-size: 40px;
}

@keyframes text {
  0% {
    color: #dfca13;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 3px;
    margin-bottom: -40px;
  }
}